{% extends "core/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Acompanhamento Acadêmico</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    {% for aluno in alunos %}
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-left">
                            <a href="/boletim_escolar/{{ aluno.pk }}/"
                               class="links_panels">Boletim Escolar</a>
                            <a href="/historico_escolar/{{ aluno.pk }}/"
                               class="links_panels">
                                Histórico Escolar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span>{{ aluno.nome }}</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}