{% extends "core/base.html" %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
             <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}!</strong>
             </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Inserção de Notas</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3 >Disciplina - {{ disciplina.nome_disciplina }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <th class="nome_aluno">Nome do Aluno</th>
                    <th class="botao_nota"></th>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                        <tr>
                            <td class="nome_aluno">{{ aluno.nome }}</td>
                            <td class="botao_nota">
                                <a href="/adicionar_notas/{{ disciplina.pk }}/{{ aluno.pk }}/"
                                                      class="btn btn-success">AdicionarNotas</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                        <td colspan="2">Não existe alunos cadastrados.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}