<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PAADA - Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "core/css/bootstrap.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "core/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "core/css/metisMenu.min.css" %}" rel="stylesheet">
    <link href="{% static "core/css/sb-admin-2.css" %}" rel="stylesheet">
    <link href="{% static "core/css/bootstrap-datepicker.css" %}" rel="stylesheet">
    <!-- Nossos css's-->
    <link href="{% static "core/css/professores.css" %}" rel="stylesheet">
    <link href="{% static "core/css/link_panels.css" %}" rel="stylesheet">
    {% block css %} {% endblock %}
</head>

<body>

<div id="wrapper">
    {% include "core/navbar_topo.html" %}

    {% if request.user.groups.first.name == "pais" %}
        {% include "core/menu_lateral_responsaveis.html" %}
    {% elif request.user.groups.first.name == "professores" %}
        {% include "core/menu_lateral_professores.html" %}
    {% endif %}

    <div id="page-wrapper">
    {% block content %}{% endblock %}
    </div>>
</div>

<script src="{% static "core/js/jquery-2.2.4.min.js" %}"></script>
<script src="{% static "core/js/bootstrap.js" %}"></script>
<script src="{% static "core/js/metisMenu.min.js" %}"></script>
<script src="{% static "core/js/sb-admin-2.js" %}"></script>
<script src="{% static "core/js/fechando_alertas.js" %}"></script>
<script src="{% static "core/js/bootstrap-datepicker.min.js" %}"></script>
{% block script %}{% endblock %}
</body>

</html>