{% extends "core/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Acompanhamento Acadêmico</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h3>{{ aluno.nome }} - {{ ano_letivo.titulo }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                <th>Disciplina</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Nota 4</th>
                <th>Nota 5</th>
                <th>Nota 6</th>
                <th>Nota 7</th>
                <th>Nota 8</th>
                </thead>
                <tbody>
                {% for nota in notas %}
                    <tr>
                        <td>{{ nota.disciplina }}</td>
                        <td>{{ nota.nota1|default:"sem nota"}}</td>
                        <td>{{ nota.nota2|default:"sem nota"}}</td>
                        <td>{{ nota.nota3|default:"sem nota" }}</td>
                        <td>{{ nota.nota4|default:"sem nota" }}</td>
                        <td>{{ nota.nota5|default:"sem nota" }}</td>
                        <td>{{ nota.nota6|default:"sem nota"}}</td>
                        <td>{{ nota.nota7|default:"sem nota" }}</td>
                        <td>{{ nota.nota8|default:"sem nota" }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="9">Não possui Disciplinas</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}