<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login - PAADA</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static "core/css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "core/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "core/css/login/style.css" %}  ">
        <link rel="stylesheet" href="{% static "core/css/login/login_style.css" %}">
    </head>
    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1 class = "cor_Titulo"><strong>Acesso</strong> - PAADA</h1>
                        <div class="refact">
                            <p>
                                Plataforma de Acompanhamento e Análise de Desempenho do Aluno.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login</h3>
                                <p>Preencha o login e senha, para ter acesso ao nosso sistema.</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form"action="{% url 'login_url' %}" method="POST" class="login-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">username</label>
                                    {% render_field form.username id="form-username" class+="form-username form-control" placeholder="Digite seu usuário" %}
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    {% render_field form.password id="form-password" type="password" class+="form-password form-control" placeholder="Digite sua Senha" %}
                                </div>
                                <button type="submit" class="btn btn-success">Login!</button>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>