<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{% url "core:escolher_disciplina" %}">
                    <i class="fa fa-edit fa-fw"></i>Inserção de Notas
                </a>
            </li>
            <li>
                <a href="/agenda_virtual_professor/"><i class="fa fa-book
                fa-fw"></i>Agenda Virtual</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-envelope-o fa-fw"></i>Mensagens</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>