<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-home fa-fw"></i>Página Inicial</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-envelope-o fa-fw"></i>Mensagens</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-book fa-fw"></i>Agenda Virtual</a>
            </li>
             <li>
                <a href="#"><i class="fa fa-signal fa-fw"></i>Boletim Escolar</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>